/* common style */
body {
  font-family: "Roboto", serif;
}
.all_btn {
  background-color: #ff3150;
  color: #ffc501;
  border: none;
  padding: 15px 60px;
  border-radius: 20px;
  font-size: 15px;
}
.all_btn:hover {
  background-color: #e53e3e;
}
.all_heading h2 {
  padding-top: 48px;
  font-size: 35px;
  font-weight: 500;
  color: #1a2940;
}
.all_heading p {
  color: #a8b9c0;
  font-size: 15px;
  font-weight: 400;
}
.all_heading hr {
  color: #00c6bf;
}




/* header start */
header {
  background-color: #19283f;
}

header .navbar-brand {
  font-family: "Brush Script MT", cursive;
  font-size: 1.5rem;
  color: white;
}
header .navbar-brand:hover {
  color: white;
}
header .nav-link {
  color: white;
  margin-right: 15px;
}
header .nav-link:hover {
  color: #00d9d9;
}
header .search-icon {
  color: white;
  font-size: 1.2rem;
}
header .search-icon:hover {
  color: #00d9d9;
}
header .login-btn {
  background-color: #ff3150;
  color: #ffc501;
  border: none;
  padding: 13px 40px;
  border-radius: 20px;
  font-size: 15px;
}
header .login-btn:hover {
  background-color: #e53e3e;
}

header .heading {
  padding-top: 135px;
  padding-bottom: 140px;
}
header .heading h1 {
  color: #f0f8fb;
  font-size: 50px;
  font-weight: 300;
}
header .heading p {
  color: #a8b9c0;
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 30px;
}

/* header end */


/* service section start */
main .service_section .card-body .card-title{
  color: #ffc501;
  font-size: 20px;
  font-weight: 500;
}

main .service_section .card-body .card-text{
  color: #a8b9c0;
  font-size: 15px;
  font-weight: 400; 
}

/* service section end */


/* gallery section start */
main .gallery_section{
      background-color: #eff7fa;
}

main .gallery_section .nav-pills {
    --bs-nav-pills-border-radius: var(--bs-border-radius);
    --bs-nav-pills-link-active-color: #ffc501;
    --bs-nav-pills-link-active-bg: #ff3150;
}
main .gallery_section .nav {
    --bs-nav-link-color: #adbdc4;
    --bs-nav-link-hover-color: #8a969c;
}

main .gallery_section .gallery_box{
    position: relative;
    
}
main .gallery_section .gallery_box .gallery_content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background-color: #00c6bf;
    width: 100%;
    height: 100%;
    opacity: 0;
    border-radius: 2px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}
main .gallery_section .gallery_box .gallery_content .heading{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Roboto", serif;
    
}
main .gallery_section .gallery_box .gallery_content:hover{
    opacity: 1;
}
/* gallery section end */

/* About us section start */
main .about_us h3{
    color: #1a2940;
    font-size: 35px;
    font-weight: 500;
}
main .about_us p{
    color: #a8b9c0;
    font-size: 15px;
    font-weight: 300;
}
/* About us section end */

/* team section start */
main .team_section{
  background-color: #eff7fa;
  padding-top: 114px;
  padding-bottom: 60px;
}
main .team_section .heading h2{
  color: #ffc501;
  font-size: 35px;
  font-weight: 500;
}
main .team_section .heading p{
  color: #a8b9c0;
  font-size: 15px;
  font-weight: 300;
  padding-top: 32px;
  padding-bottom: 62px;
}
main .team_section .card-body .card-title{
  background-color: #33d1cc;
  color: #fff;
  padding: 15px 0px;
  font-size: 20px;
}
main .team_section .card-body .card-text{
  color: #a8b9c0;
  font-size: 15px;
  font-weight: 400; 
  padding: 35px;
}
/* team section end */

/* project section start */
main .project_section{
  background-color: #19283f;
  padding: 114px 0px;
}
main .project_section h2{
  color: #ffffff;
  font-size: 35px;
  font-weight: 500;
}
main .project_section p{
  color: #a8b9c0;
  font-size: 15px;
  font-weight: 300;
  padding-top: 20px;
  padding-bottom: 30px;
}
/* project section end */

/* blog section start */
main .blog_section{
  padding-bottom: 56px;
}
main .blog_section .card-body .card-title{
  color: #1a2940;
  font-size: 20px;
}
main .blog_section .card-body .card-text{
  color: #a8b9c0;
  font-size: 13px;
  font-weight: 400; 
}
/* blog section end */